<div class="nav">
        {{#foreach navigation}}
                <a class="animated fadeIn" href="{{url absolute="true"}}">{{label}}</a>
        {{/foreach}}
                <a class="subscribe-button icon-feed animated fadeIn" href="{{@blog.url}}/rss/">RSS</a>
</div>
<span class="nav-cover"></span>
