{{!< default}}

{{#post}}
  <main class="content" role="main">
    <div class="archive__section">
      <h2 class="archive__header">归档</h2>
        {{#get "posts" fields="url, title, slug"}}
        {{#foreach posts}}
          <div class="archive__title" >
            <p><a class="archive__title--url" href="{{@blog.url}}/{{slug}}" >{{title}}</a></p>
          </div>
        {{/foreach}}
      {{/get}}
    </div>
  </main>
{{/post}}
