/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
$dropbox-color: #007ee5;
$gray-color: #E5E5E5;
html,
body {
    // forbid horizontal scroll
    max-width: 100%;
    overflow-x: hidden;
}

body {
    line-height: 1.7em;
}

h1.page-title {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.335em;
}

body p {
    position: relative;
    min-height: 100%;
    font: 300 100%/1.75 'PingFangSC-Regular', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
    color: #444;
}

header {
    text-align: center;
}

a {
    img {
        width: 2em;
    }
    text-decoration: inherit;
    color: #007ee5;
}

header[role="banner"] {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #E5E5E5;
}

.logo-area {
    float: left;
    padding-right: 5px;
}

.page-title {
    color: $dropbox-color;
}

.page-description {
    color: $dropbox-color;
}

// .blog-content-area {
//     max-width: 1000px;
//     margin: 0 auto;
// }
.post-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0.67em;
    a {
        color: #007ee5;
    }
}

article footer {
    margin-bottom: 0.76em;
}

article {
    padding: 1em;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    p {
        font: 300 100%/1.75 'PingFangSC-Regular', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
        color: #444;
    }
    h2 {
        font-size: 1.8em;
        // padding-bottom: 0.5em;
        font-weight: bold;
    }
    h3 {
        font-size: 1.5em;
        // padding-bottom: 0.5em;
        font-weight: bold;
    }
    h4 {
        font-size: 1em;
        // padding-bottom: 0.5em;
    }
    a {
        text-decoration: underline;
        color: inherit;
    }
    h2.post-title a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        color: $dropbox-color;
    }
    blockquote {
        padding: 0 0 0 1em;
        // reset this block's position
        margin: 0;
        border-left: 0.4em solid $dropbox-color;
    }
    img {
        clear: both;
        // width: 90%;
        // 奇淫技巧
        // 移动设备或者500px以内的屏幕宽度适用
        // width: 111%;
        // max-width: none;
        // margin: 0 -5.5%;
        max-width: 90%;
        margin: 0 10%;
    }
    pre {
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        border: 0;
        border-radius: 3px;
        code {
            padding: 0;
            margin: 0;
            font-size: 100%;
            white-space: pre;
            background: transparent;
            border: 0;
        }
    }
    code {
        padding: 0;
        padding-top: .2em;
        padding-bottom: .2em;
        margin: 0;
        font-size: 85%;
        background-color: #f7f7f7;
        border-radius: 3px;
    }
    .post-meta-data {
        font-size: 0.875em;
        color: #999;
    }
}

article + article {
    border-top: 1px dashed $gray-color;
    margin-top: 3em;
}

nav {
    display: block;
    a {
        padding: 0 1px;
        font-size: 0.875em;
        line-height: 30px;
    }
}

.pagination {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 4rem auto;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #9EABB3;
    text-align: center;
    a {
        color: $dropbox-color;
        transition: all 0.2s ease;
    }
    .older-posts,
    .newer-posts {
        position: absolute;
        display: inline-block;
        padding: 0px 15px;
        border: #EEEEEE 1px solid;
        text-decoration: none;
        line-height: 2.5em;
        border-radius: 4px;
        transition: border ease 0.3s;
    }
    .older-posts {
        right: 0;
    }
    .newer-posts {
        left: 0;
    }
    .older-posts:hover,
    .newer-posts:hover {
        // border: $dropbox-color 1px solid;
        background-color: $dropbox-color;
        color: white;
    }
    .page-number {
        display: inline-block;
        line-height: 2.5em;
        padding: 2px 0;
        min-width: 100px;
    }
}

.read-next {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 4rem auto;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0.75em;
    text-align: center;
}

.read-next section.prev-post,
section.next-post {
    border: 1px solid $dropbox-color;
    border-radius: 3px;
}

.prev-post {
    position: relative;
    display: inline-block;
    text-align: left;
    float: left;
}

.next-post {
    position: relative;
    display: inline-block;
    text-align: right;
    float: right;
}

footer {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid $gray-color;
    // text-align: center;
    font-size: 0.8em;
    color: #ccc;
    a {
        color: #ccc;
        text-decoration: underline;
    }
    a:hover {
        color: $dropbox-color;
    }
    .copyright {
        float: left;
        width: 45%;
    }
    .createdBy {
        text-align: right;
        float: right;
        width: 45%;
    }
}

/* ==========================================================================
   2. Archive Static Page
   ========================================================================== */
.archive__section {
  max-width: 45em; 
  margin:0 auto; 
  text-align: center;
}

.archive__header {
    color: #007ee5;
}

.archive__title {
    font-size: 1em;

    text-decoration: underline;
}

.archive__title :hover {
    color: #007ee5;
}

.archive__title--url {
    color: #62616E;
    font-family: 'PingFangSC-Regular', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
}

/* ==========================================================================
   12. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 620px) {
    footer {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        height: 40px;
        line-height: 20px;
        border-top: 1px solid $gray-color;
        font-size: 0.8em;
        color: #ccc;
        a {
            color: #ccc;
            text-decoration: underline;
        }
        a:hover {
            color: $dropbox-color;
        }
        .copyright {
            float: left;
            width: 100%;
            padding-top: 0.5em;
        }
        .createdBy {
            text-align: left;
            float: left;
            width: 100%;
            padding-bottom: 1em;
        }
    }
    article {
        img {
        clear: both;
        // width: 90%;
        // 奇淫技巧
        // 移动设备或者500px以内的屏幕宽度适用
        width: 111%;
        max-width: none;
        margin: 0 -5.5%;
        // max-width: 90%;
        // margin: 0 10%;
    }
    }
}