/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.scss */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* line 17, ../sass/screen.scss */
body {
  line-height: 1.7em;
}

/* line 21, ../sass/screen.scss */
h1.page-title {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.335em;
}

/* line 27, ../sass/screen.scss */
body p {
  position: relative;
  min-height: 100%;
  font: 300 100%/1.75 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
  color: #444;
}

/* line 34, ../sass/screen.scss */
header {
  text-align: center;
}

/* line 38, ../sass/screen.scss */
a {
  text-decoration: inherit;
  color: #007ee5;
}
/* line 39, ../sass/screen.scss */
a img {
  width: 2em;
}

/* line 46, ../sass/screen.scss */
header[role="banner"] {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #E5E5E5;
}

/* line 53, ../sass/screen.scss */
.logo-area {
  float: left;
  padding-right: 5px;
}

/* line 58, ../sass/screen.scss */
.page-title {
  color: #007ee5;
}

/* line 62, ../sass/screen.scss */
.page-description {
  color: #007ee5;
}

/* line 70, ../sass/screen.scss */
.post-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.67em;
}
/* line 75, ../sass/screen.scss */
.post-title a {
  color: #007ee5;
}

/* line 80, ../sass/screen.scss */
article footer {
  margin-bottom: 0.76em;
}

/* line 84, ../sass/screen.scss */
article {
  padding: 1em;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
/* line 89, ../sass/screen.scss */
article p {
  font: 300 100%/1.75 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
  color: #444;
}
/* line 93, ../sass/screen.scss */
article h2 {
  font-size: 1.8em;
  font-weight: bold;
}
/* line 98, ../sass/screen.scss */
article h3 {
  font-size: 1.5em;
  font-weight: bold;
}
/* line 103, ../sass/screen.scss */
article h4 {
  font-size: 1em;
}
/* line 107, ../sass/screen.scss */
article a {
  text-decoration: underline;
  color: inherit;
}
/* line 111, ../sass/screen.scss */
article h2.post-title a {
  text-decoration: none;
}
/* line 114, ../sass/screen.scss */
article a:hover {
  text-decoration: underline;
  color: #007ee5;
}
/* line 118, ../sass/screen.scss */
article blockquote {
  padding: 0 0 0 1em;
  margin: 0;
  border-left: 0.4em solid #007ee5;
}
/* line 124, ../sass/screen.scss */
article img {
  clear: both;
  max-width: 90%;
  margin: 0 10%;
}
/* line 135, ../sass/screen.scss */
article pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border: 0;
  border-radius: 3px;
}
/* line 142, ../sass/screen.scss */
article pre code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  white-space: pre;
  background: transparent;
  border: 0;
}
/* line 151, ../sass/screen.scss */
article code {
  padding: 0;
  padding-top: .2em;
  padding-bottom: .2em;
  margin: 0;
  font-size: 85%;
  background-color: #f7f7f7;
  border-radius: 3px;
}
/* line 160, ../sass/screen.scss */
article .post-meta-data {
  font-size: 0.875em;
  color: #999;
}

/* line 166, ../sass/screen.scss */
article + article {
  border-top: 1px dashed #E5E5E5;
  margin-top: 3em;
}

/* line 171, ../sass/screen.scss */
nav {
  display: block;
}
/* line 173, ../sass/screen.scss */
nav a {
  padding: 0 1px;
  font-size: 0.875em;
  line-height: 30px;
}

/* line 180, ../sass/screen.scss */
.pagination {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 4rem auto;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #9EABB3;
  text-align: center;
}
/* line 189, ../sass/screen.scss */
.pagination a {
  color: #007ee5;
  transition: all 0.2s ease;
}
/* line 193, ../sass/screen.scss */
.pagination .older-posts,
.pagination .newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0px 15px;
  border: #EEEEEE 1px solid;
  text-decoration: none;
  line-height: 2.5em;
  border-radius: 4px;
  transition: border ease 0.3s;
}
/* line 204, ../sass/screen.scss */
.pagination .older-posts {
  right: 0;
}
/* line 207, ../sass/screen.scss */
.pagination .newer-posts {
  left: 0;
}
/* line 210, ../sass/screen.scss */
.pagination .older-posts:hover,
.pagination .newer-posts:hover {
  background-color: #007ee5;
  color: white;
}
/* line 216, ../sass/screen.scss */
.pagination .page-number {
  display: inline-block;
  line-height: 2.5em;
  padding: 2px 0;
  min-width: 100px;
}

/* line 224, ../sass/screen.scss */
.read-next {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 4rem auto;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.75em;
  text-align: center;
}

/* line 236, ../sass/screen.scss */
.read-next section.prev-post,
section.next-post {
  border: 1px solid #007ee5;
  border-radius: 3px;
}

/* line 242, ../sass/screen.scss */
.prev-post {
  position: relative;
  display: inline-block;
  text-align: left;
  float: left;
}

/* line 249, ../sass/screen.scss */
.next-post {
  position: relative;
  display: inline-block;
  text-align: right;
  float: right;
}

/* line 256, ../sass/screen.scss */
footer {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #E5E5E5;
  font-size: 0.8em;
  color: #ccc;
}
/* line 266, ../sass/screen.scss */
footer a {
  color: #ccc;
  text-decoration: underline;
}
/* line 270, ../sass/screen.scss */
footer a:hover {
  color: #007ee5;
}
/* line 273, ../sass/screen.scss */
footer .copyright {
  float: left;
  width: 45%;
}
/* line 277, ../sass/screen.scss */
footer .createdBy {
  text-align: right;
  float: right;
  width: 45%;
}

/* ==========================================================================
   12. Media Queries - Smaller than 500px
   ========================================================================== */
@media only screen and (max-width: 620px) {
  /* line 288, ../sass/screen.scss */
  footer {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    height: 40px;
    line-height: 20px;
    border-top: 1px solid #E5E5E5;
    font-size: 0.8em;
    color: #ccc;
  }
  /* line 297, ../sass/screen.scss */
  footer a {
    color: #ccc;
    text-decoration: underline;
  }
  /* line 301, ../sass/screen.scss */
  footer a:hover {
    color: #007ee5;
  }
  /* line 304, ../sass/screen.scss */
  footer .copyright {
    float: left;
    width: 100%;
    padding-top: 0.5em;
  }
  /* line 309, ../sass/screen.scss */
  footer .createdBy {
    text-align: left;
    float: left;
    width: 100%;
    padding-bottom: 1em;
  }

  /* line 317, ../sass/screen.scss */
  article img {
    clear: both;
    width: 111%;
    max-width: none;
    margin: 0 -5.5%;
  }
}
